<div class="container-dashboard">
    <div class="header">
        <div>
            <img class="imgHeader" src="../../assets/img/logo.png" alt="">
        </div>
        <div class="optionsHeader">
            <!-- En tu plantilla (html) -->
            <a routerLink="/login">Ingresar</a>
            <a routerLink="/registrar">Registrarse</a>
        </div>
    </div>

    <p class="frase">Nuestros carros</p>
    <hr>

    <div class="container-slider">
        <section class="slider">
            <img src="../../assets/img/carro1.jpg" alt="">
            <img src="../../assets/img/carro2.jpg" alt="">
            <img src="../../assets/img/carro3.png" alt="">
            <img src="../../assets/img/carro4.jpg" alt="">
            <img src="../../assets/img/carro5.jpg" alt="">
        </section>
    </div>

    <p class="frase">¡Grandes promociones!</p>

    <div class="container-card">
        <div class="card">
            <img src="../../assets/img/promo1.jpg" alt="">
        </div>
        <div class="card">
            <img src="../../assets/img/promo2.jpeg" alt="">
        </div>
        <div class="card">
            <img src="../../assets/img/promo3.jpg" alt="">
        </div>
    </div>

    <div class="footer">
        <p class="author">Alison Briceño</p>
    </div>
    
</div>
